body{
    background-color: plum;
}

h1, h3, p{
    color: whitesmoke;
}

#box{
    background-color: purple;
    border: 10in;
    padding: 10%;
}

#options{
    background-color: plum;
    border: 1in;
    padding: 1%;
    margin: 1%;
    width: 5in;
}

#output{
    background-color: plum;
    border: 5in;
    padding: 5%;
}

button{
    color: purple;
    border: 100in;    
    width: 100%;
    padding: 3%;
    background-color: darkgoldenrod;
}